		pre {
			display: inline-block;
		}
		@font-face
		{
			font-family: GeoSans;
			src: url(geosans.ttf);
			font-weight:bold;
		} 
		*{
			list-style: none;
			font-family: GeoSans;
		}
		
		#jogo {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
		
		.topo {
			color: red;
		}
		
		body {
			background-color: #efefef;
			margin: 0;
		}
		#canvas {
			position: relative;
			margin: 0 auto;
			display: block;
			background: #efefef;
			z-index: 1;
		}
		
		#touch {
			margin: 0 auto;
			display: block;
		}

		#pontos
		{
			top: 2%;
			right: 4%;
			position: absolute;
			font-family: GeoSans;
			font-size: 7vw;
			z-index: 2;		
		}
		#fps
		{
			top: 2%;
			left: 4%;
			position: absolute;
			font-family: GeoSans;
			font-size: 7vw;
			z-index: 2;

		}
		#gameover
		{
			display: none;
			top:0;
			left: 0;
			position: absolute;
			background-color: rgba(100,100,100,0.5);
			width:100%;
			height: 100%;
			z-index: 3;
		}
		.gameover-container
		{
			color: #efefef;
			position: absolute;
			top: 30%;
			left: 15%;
			height: 30%;
			width: 70%;
		}
		#gameover-title
		{
			font-size: 150%;
			font-size: 8vw;
			background-color: #5a5858;
			text-align: center;
			line-height: 200%;
		}
		#gameover-score
		{
			font-size: 7.5vw;
			line-height: 200%;
			background-color: #526e82;
			text-align: right;
			padding-right: 5%;
		}
		#menu-gameover
		{
			font-size: 7.5vw;
			text-align: right;
			width: 100%;
			height: 30%;
			height: 12vw;
		}
		#gameover-menu, #play-again {
			height: 100%;
			padding: 5% 15% 1%;
			width: 20%;
			display: inline-block;
			background: #FFA1A9;
		}
		

		#menu-gameover div:active{
			background-color: white;

		}
		#gameover-menu a
		{
			display: block;
			width: 100%;
			height: 100%;
			background-size: 100%;
		    background-image: url('../img/gameover-menu.png');
		    background-repeat: no-repeat;
		}
		#play-again a
		{
			display: block;
			width: 100%;
			height: 100%;
			background-size: 100%;
		    background-image: url('../img/play-again.png');
		    background-repeat: no-repeat;
		}
		nav
		{
		    margin-top:40%;
		}
		.menu-button
		{
		    color: #efefef ;
		    text-align: center;
		    font-size: 200%;
		    font-size: 8vw;
		    line-height: 200%;
		    background-color:#526e82;
		    margin-bottom: 5%;
		    width: 50%;
		    height: 12%;
		}
		.menu-button:active
		{
		    background-color:#ff8989;
		}

		#esq, #dir, #meio {
			width: 33%;
			height: 10%;
			position: absolute;
			bottom: 0;
		}
		#esq:active, #dir:active, #meio:active {
			background-color: #ddd !important;
		}
		#esq span, #dir span, #meio span {
			width: 100%;
			height: 100%;
			display: block;
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
			background-size: 100% 100%;
		}
		#esq {
			left: 0;
		}
		
		#esq span {
			background-image: url('../img/seta_esq.png');
		}
		
		#dir {
			right: 0;
		}
		
		#dir span {
			background-image: url('../img/seta_dir.png');
		}
		
		#meio {
			left: 33%;
			width: 34%;
			background: url('../img/mid-button.png') no-repeat center center;
			background-size: 35%;
		}
